<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="AdventureWorks2017Entities" connectionString="metadata=res://*/DataAccessLayer.AdventureBook.csdl|res://*/DataAccessLayer.AdventureBook.ssdl|res://*/DataAccessLayer.AdventureBook.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AdventureWorks2017;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>